.navegacion {
    background-color: #fca311;



}

.lista {
    padding-left: 130px;
}


body {
    background-color: #dda15e;

}

.fondocol {
    background-color: #fefae0;
    border-radius: 4%;
}


.slider {
    border-top: 5px;
}

.footer{
    background-color:#343a40;
    text-align: center;
    color:#adb5bd;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    text-align: center;
    padding-left: 50px;
}

.botones{
    color:rgb(182, 239, 243);
    margin-left:120px;
    
    
}
 
.imagenesborder{
    border-radius:8px;
}

.fondito{
    border-right: solid 1px rgb(99, 66, 6) ;
    ;
}

.lista{
    text-align: center;
}

